<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Work Types - #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1>Maintenance work categories.</h1>
		</header>

	<section class='detail'>
		<table>
		<% @worktypes.each do | worktype | %>
			<tr>
				<td><%= worktype.title %></td>
				<% if sec_rights? %>
				<td><%=link_to 'Edit', edit_worktype_path(worktype) %></td>
				<%if admin_rights?%>
				<td><%= link_to 'Delete', worktype, 
	                  class: 'button',
	                  method: :delete, data: { confirm: 'Are you sure?' } %>
	                  </td>	
	                  <% end %>	
	       <% end %>		
			</tr>
		<% end %>
		</table>
	</section>



</article>
	<div class="page-actions">
		<%=link_to 'Add A New Work Type', new_worktype_path %>
		</div>