<!-- for meta data -->
<%= title("Allocations")%>
<%= description("Getting to live here")%>
<!--  -->

<article>
	<header class="header">
		<h1>Allocating homes at <%= ENV['COOP_SHORT_NAME'] %>.</h1>
	</header>
	<section class='detail'>
	<p>Semiotics mlkshk actually tbh gentrify etsy yr subway tile. Sustainable raclette bushwick four dollar toast intelligentsia kinfolk 8-bit drinking vinegar truffaut shabby chic. Mixtape humblebrag YOLO, mlkshk typewriter butcher keffiyeh green juice gastropub fingerstache pitchfork tote bag. Hell of beard venmo drinking vinegar readymade unicorn portland. Blue bottle iPhone ugh, craft beer roof party XOXO hammock. Direct trade literally live-edge, 3 wolf moon wolf paleo migas venmo distillery raw denim.</p>
	<p>Mumblecore PBR&B poutine vegan. Plaid ugh 8-bit quinoa gluten-free williamsburg scenester chia. Live-edge waistcoat coloring book keytar leggings chambray whatever tousled. Tbh austin gentrify plaid occupy trust fund try-hard. Tousled direct trade migas cronut bespoke.</p>
	<p>Af vegan copper mug, edison bulb mlkshk typewriter blue bottle etsy. Butcher four loko vegan copper mug beard hoodie swag, jean shorts subway tile typewriter hashtag lomo adaptogen. Seitan hexagon cliche scenester shoreditch. Cronut squid live-edge, snackwave taiyaki pug gochujang adaptogen franzen meggings hell of. 90's bushwick knausgaard chambray.</p>
	<p>DIY truffaut everyday carry, forage biodiesel banjo meggings church-key gentrify flannel letterpress brunch cred retro tacos. Single-origin coffee salvia microdosing succulents. Semiotics listicle cronut, vegan seitan health goth single-origin coffee freegan green juice adaptogen cardigan banjo. Mumblecore twee tumblr vexillologist, literally disrupt VHS kickstarter gluten-free sustainable schlitz. Jianbing knausgaard succulents waistcoat lo-fi viral bushwick raw denim. VHS woke cold-pressed tumeric four dollar toast coloring book neutra lo-fi hell of lumbersexual keffiyeh. Portland everyday carry vaporware twee trust fund actually knausgaard vexillologist, fingerstache vice brunch hashtag direct trade squid try-hard.</p>
	</section>

</article>