<!-- for meta data -->
<%= title("Get in touch")%>
<%= description("Get in contact")%>

<article>
	<header>
		<h1>Get in touch with <%= ENV['COOP_SHORT_NAME'] %>.</h1>
	</header>
	<p>Semiotics mlkshk actually tbh gentrify etsy yr subway tile. Sustainable raclette bushwick four dollar toast intelligentsia kinfolk 8-bit drinking vinegar truffaut shabby chic. Mixtape humblebrag YOLO, mlkshk typewriter butcher keffiyeh green juice gastropub fingerstache pitchfork tote bag. Hell of beard venmo drinking vinegar readymade unicorn portland. Blue bottle iPhone ugh, craft beer roof party XOXO hammock. Direct trade literally live-edge, 3 wolf moon wolf paleo migas venmo distillery raw denim.</p>
	<p>Mumblecore PBR&B poutine vegan. Plaid ugh 8-bit quinoa gluten-free williamsburg scenester chia. Live-edge waistcoat coloring book keytar leggings chambray whatever tousled. Tbh austin gentrify plaid occupy trust fund try-hard. Tousled direct trade migas cronut bespoke.</p>
</article>