<!-- for meta data -->
<% title("#{@person.firstname} #{@person.lastname}(edit)")%>
<% description("Editing details for #{@person.firstname} #{@person.lastname} - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Editing <%=@person.firstname%> <%=@person.lastname%></h1>
	</header>

	<section class='detail'>
	<%= render 'form_for_people' %>
	</section>

	<div class="page-actions"></div>
	</article>
	