<!-- for meta data -->
<%= title("Add an Officer Role")%>
<%= description("Add an Officer Role - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->


<article>
	<header class="header">
		<h1>Add A New Officer Role</h1>
	</header>
	<section class='detail'>
		<%= render 'form_for_jobs' %>
	</section>
	<div class="page-actions">
	</div>
</article>