<!-- for meta data -->
<% title("Editing #{@property.number_and_address1}")%>
<% description("Edit the property details for #{@property.house_name_no} #{@property.address1} - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Editing <%= @property.number_and_address1%>, 
			<% if @property.address2 %><%= @property.address2 %>,<% end %>
			<%= @property.postcode %></h1>
	</header>

	<section class='detail'>
		<%= render 'form_for_property' %>
	</section>

	<div class="page-actions">

	</div>
</article>
