<% title("Add a new property")%>

<article>
	<header class="header">
		<h1>Add New Property</h1>
	</header>

	<section>
		<%= render 'form_for_property' %>
	</section>


</article>
	<div class="page-actions"></div>