<!-- for meta data -->
<% title("Rent Report")%>
<% description("Rent Report - #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1><%= ENV['COOP_SHORT_NAME']%> rent report.</h1>
		</header>

	<section class='detail'>
		<% @houses.each do |house, balance| %>
		<p><%= house.number_and_address1 %> : <%= show_money(house.balance) %></p>
		<% end %>

		</section>

	<div class="page-actions">
		
		</div>

</article>