<!-- for meta data -->
<% title("Edit rent payment")%>
<% description("Edit rent payment - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Edit Rent Payment</h1>
		</header>

	<section class='detail'>
		<%= render 'form_for_rents' %>
		</section>

	<div class="page-actions">
	
		</div>

</article>
