<!-- for meta data -->
<%= title("Add Rent Payment")%>
<%= description("Add a Rent payment - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Add a Rent Payment</h1>
	</header>
	<section class='detail'>
		<%= render 'form_for_rents' %>
	</section>
	<div class="page-actions">
	</div>
</article>