<!-- for meta data -->
<% title("Edit an Event")%>
<% description("Edit an Event - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Edit an Event</h1>
		</header>

	<section class='detail'>
		<%= render 'form_for_calendars' %>
		</section>


</article>
	<div class="page-actions">
	
		</div>
