<!-- for meta data -->
<%= title("Add an Event")%>
<%= description("Add an Event - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->



<article>
	<header class="header">
		<h1>Add an Event</h1>
	</header>
	<section class='detail'>
		<%= render 'form_for_calendars' %>
	</section>
	<div class="page-actions">
	</div>
</article>