<!-- for meta data -->
<% title("Edit a Contractor")%>
<% description("Edit a Contractor - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Editing Contractor</h1>
		</header>

	<section class='detail'>
		<%= render 'form_for_contractors' %>
		</section>

	<div class="page-actions">
	
		</div>

</article>
