<!-- for meta data -->
<% title("#{controller_name.titleize}")%>
<% description("Approved Contractors #{ENV['COOP_FULL_NAME']}")%>


<article>

	<header class="header">
		<h1>Contractor List</h1>
	</header>

	<section class='detail'>
		<table>
			<% @contractors.each do |contractor| %>
			<tr>
				<td><%= contractor.name %></td>
				<td><%=	contractor.details %></td>
				<td><%= contractor.phone %></td>
			</tr>
			<% end %>
		</table>
	</section>



</article>
	<div class="page-actions">
	</div>