<!-- for meta data -->
<%= title("Add Rent Payment")%>
<%= description("Add a new rent payment - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->


<article>
	<header class="header">
		<h1>Add A New Contractor</h1>
	</header>
	<section class='detail'>
		<%= render 'form_for_contractors' %>
	</section>

</article>
	<div class="page-actions">
	</div>