<!-- for meta data -->
<% title("Edit a amintenance job")%>
<% description("Edit a maintenance job - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->

<article>
	<header class="header">
		<h1>Editing a maintenance job</h1>
		</header>

	<section class='detail'>
		<%= render 'form_for_maintenances' %>
		</section>

</article>
<div class="page-actions">
</div>
