<!-- for meta data -->
<%= title("Add Maintenance Job")%>
<%= description("Add Maintenance Job - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->



<article>
	<header class="header">
		<h1>Add A New Maintenance Job</h1>
	</header>
	<section class='detail'>
		<%= render 'form_for_maintenances' %>
	</section>
	<div class="page-actions">
	</div>
</article>