<!-- for meta data -->
<%= title("Allocate an Officer Role")%>
<%= description("Allocate an Officer Role - #{ENV['COOP_FULL_NAME']}")%>
<!--  -->



<article>
	<header class="header">
		<h1>Allocate an Officer Role</h1>
	</header>
	<section class='detail'>
		<%= render 'form_for_roles' %>
	</section>

</article>
	<div class="page-actions">
	</div>