 @import "colors";

  /*-----------GLOBAL--------------*/

  body {
    display : flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .page {
      flex-grow: 1;
      margin: 2vh 2.5vw;
    }

  a {
    text-decoration: none;
  }

  .page table {
    margin : 2vh auto;
    background-color: $table-color;
    border: 0;
    box-shadow: #aaa 0 0 8px;
  }

  .page table tr~tr{
    border-top: solid 1px rgba(0,0,0,0.1); 
    }
  .page table td {
    padding: 0.5em 0.5em;
  }

  .page table .money{
    text-align: right;
  }
  p .filter {
  float :right;
  }

  /*-----------HEADER--------------*/

  .masthead {
    display :flex;
    margin: 1vh 0;
    padding: 1vh 1vw;
  }

  .masthead h1 {
    flex: 1;
    font-size: 4.1vw;
  }

  .masthead .main-nav {
    display: flex;
    flex: 1;
    list-style: none;
    padding: 0.5em;
  }

  .masthead .main-nav li {
    flex: 1;
    padding:  0 1em;
    text-align: right;
  }


  /*-----------MAIN----------------*/

  .content {
  display : flex;
  flex-direction: column;
  }

  .content article {
  flex : 1;
  }

  .content .page-actions {
  flex : 1;
  }

  .page {
    display : flex;
    flex-direction: row-reverse;
    margin-top : 2vh;
  }

  .sidebar {
    flex: 0 0 15%;
  }

  .content {
    flex: 1 1 85%;
    margin: 0 5vw;
  }

  .content .header {
    margin-bottom: 5vh;
  }

  .content .header h1{
    font-size: 1.75rem;
  }

  .content .header .filter {
  float : right;
  }


  .detail p {
  line-height: 1.5;
  margin-bottom: 1em;
  display: inline-block;
  }

  article  div {
    margin-bottom: 2.5vh;
  }

  article  div h2{
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  /*----------FOOTER---------------*/

  .footer {
    padding: 1vh 2.5VW;
    margin-bottom: 2vh;
  }

  .footer h2 {
    font-size: 1.2rem;
  }

  .name,
  .text,
  .address {
    font-size: 0.9em; 
    text-align: center;
  }

  .copy {
    font-size: 0.8em;
    margin-top: -0.2em;
    text-align: right;
  }

 /*------rentbook/maintenance/directory------*/

.rentbook-check,
.maintenance-check,
.residents-check,
.peoplelist-check{
  display: none;
}
.show-rentbook,
.show-maintenance,
.show-residents,
.show-peoplelist {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.renthistory,
.maintenancehistory,
.residentlist,
.directory {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.6s ease-in-out;
}
.rentbook-check:checked ~ .renthistory,
.maintenance-check:checked ~ .maintenancehistory,
.residents-check:checked ~ .residentlist,
.peoplelist-check:checked ~ .directory {
  max-height: 1000px;
}

 /*----------LINK STYLES--------------*/

 .main-nav a,
 .admin-nav a{
  font-size: 1.1rem;
 }

 .main-nav a:hover,
 .admin-nav a:hover {
  color : $primary-link-color
 }

  /*----------SIDEBAR--------------*/

  /* MOBILE MENU */
  .mobile-menu-check,
  .show-mobile-menu {
    display: none;
  }

  .admin-nav {
    list-style: none;
  }

  .admin-nav > li{
    margin-bottom: 0.25em;
    padding : 0.5em 0.25em;
  }

  .admin-nav a:hover {
    
  }

  /*----------PAGE-ACTIONS----------*/

  .page-actions {
    margin: 2.5vh 0;
    text-align: center;
  }

  .page-actions a {
    padding: 1.2rem;
  }

  .page-actions a:hover {
    color : $primary-link-color
  }
