  body {
    display : flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .page {
      flex-grow: 1;
    }

  a {
    text-decoration: none;
  }



  /*-----------MAIN----------------*/

  .page {
    display : flex;
    flex-direction: row-reverse;
  }

  .sidebar {
    flex: 0 0 15%;
  }

  .content {
    flex: 1 1 85%;
    padding: 2vh 2.5vw;
  }


  .content .header {
    padding: 0 0 2vh;
  }

  .content .header h1{
    font-size: 1.75rem;
  }

  .detail > h2 {
    font-size: 1em;
  }

  /*----------FOOTER---------------*/

  .footer {
    padding: 2vh 2.5vw;
  }

  .footer h2 {
    font-size: 1.2rem;
  }

  .name,
  .text,
  .address {
    text-align: center;
  }

  .copy {
    text-align: right;
  }

  /*----------SIDEBAR--------------*/

  .admin-nav {
    list-style: none;
    padding-top: 2vh;
  }

  .admin-nav > li{
    font-size: 1rem;
    margin-bottom: 0.25em;
    padding : 0.25em 0.5em;
  }
