@import "colors";


.detail .contact-details p {
		font-size: 1.1em;
		line-height: 2;
		margin-bottom: 0.25em;
	
}

.detail .contact-details p i {
		padding: 0 1em;
	}

.detail .bio p {
		line-height: 1.5;
		padding: 0 1em;
		margin-bottom: 2em;
	}

	.detail .roles {
		padding: 0 1em;
		margin-bottom: 2em;
	}