@import "colors";
@media (max-width: 800px){

 body {
 width: 100%;
 }

	/*-----------HEADER--------------*/
	.masthead {
	  display :flex;
	  flex-direction: column-reverse;
	  margin: 0;
	  padding: 0 1vh;
	}

	.masthead h1 {
    display :none;
	}

	.masthead .header p {
		padding-top: 2.5vh 0;
		text-align: center;
	}

	.masthead .main-nav {
	  display: flex;
	  list-style: none;
    width: 90%;
	}

	.masthead .main-nav li {
	  flex: 1;
	  text-align: center;
	  padding: 0.5em 0.5em;
	}

	/*----------FOOTER---------------*/

	.footer {
	  padding: 1vh 2vw;
	  margin-bottom: 5vh;

	}

	.footer h2 {
	  font-size: 1.1em;
	}

	.name,
	.text {
	  font-size: 0.8em; 
	  text-align: center;
	  margin-bottom: 0.2em;
    padding: 0 1em;
	}

	.address {
		display :none;
	}

	.copy {
	  font-size: 0.8em;
	  text-align: right;
    padding-right: 0.75em;
	}

 /*-----------MAIN----------------*/

 .content {
   display : flex;
   flex-direction: column-reverse;
   padding: 0 1vw;
 }

  .page {
    display : flex;
    flex-direction: column;
    margin-top : 1vh;
  }

  .sidebar {
    flex: 0;
  }

  .content {
    flex: 0;
    margin: 0;
  }

  .static_pages .detail {
  padding: 0;
  }

  .content .header {
    margin: 2vh 0;
  }

  .content .header h1{
    font-size: 1.5rem;
    padding: 0;
    text-align: center;
  }

  .content .header p{
    font-size: 1rem;
    padding: 0.5em 0;
    text-align: center;
  }

  .detail > h2 {
    font-size: 1em;
    text-align: center;
  }

  .detail {
  padding: 0;
  }

  article  div {
    margin-bottom: 2.5vh;
  }

  article  div h2{
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  /* SIDEBAR MOBILE MENU*/

  .sidebar {
    margin: 0;
    display: block;
    flex : 0;
  }

  .show-mobile-menu {
    display: block;
    font-weight: bold;
    margin-top: 0;
    padding: 1.5em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }

  .admin-nav {
    max-height: 0;
    list-style: none;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s ease-in-out;
  }
  .mobile-menu-check:checked ~ .admin-nav {
    max-height: 1000px;
  }


  .admin-nav > li{
    font-size: 1em;
    margin: 0;
    padding : 0.75em 0.75em;
    text-align: center;
  }

  .admin-nav a:hover {
    color : $primary-link-color
  }

  /*----------PAGE-ACTIONS----------*/

  .page-actions {
    margin: 0;
    padding: 0;
    text-align: center;
    flex : 0;
  }

  .page-actions a {
    display: block;
    padding: 0.75em 0.75em;
  }

  .page-actions a:hover {
    color : $primary-link-color
  }
/* form */

fieldset {
  margin: 0;
  background-color: $fieldset-color;
  border: 0;
  box-shadow: #aaa 0 0 4px;

  label {
    font-size: 1em;
    display: block;
    margin-bottom: .25em;
  }

  ul {
    list-style: none;
    padding: 3vh 3vw;

    li {
      margin: 0 0 15px 0;
      padding: 0;

      &.required label {
        font-weight: bold;
      }
    }
  }

  input,
  label {
    display: block;
  }

  input,
  textarea {
    font-size:     14px;
    padding:       5px;
    border-radius: 6px;
    box-shadow:    0px;
    border: 1px solid $subdued-color;
  }
}


/* people pages*/

.detail .contact-details p {
		font-size: 1.1em;
		line-height: 2;
		margin-bottom: 0.25em;
	
}

.detail .contact-details p i {
		padding: 0 0.5em;
	}

.detail .bio p ,
.detail .roles p {
		line-height: 1.5;
		padding: 0 1em;
		margin-bottom: 2em;
	}

.event h3,
.event p {
  text-align: center;
}

/* table*/

.page table {
  background-color: $table-color;
  border: 0;
  box-shadow: #aaa 0 0 2px;
  font-size: 0.75em;
  width: 100%;
}

.page table tr {
	margin : 0.75em 0;
}
.page table tr~tr{
  border-top: solid 1px rgba(0,0,0,0.1); 
  }
.page table td {
  padding: 0.5em 0.25em;
}

}