@import "colors";

.static_pages .sidebar {
	display : none;
}

.static_pages .header {
	text-align: center;
}

.static_pages .detail {
	padding: 2vh 5vw;
}

.static_pages p {
	line-height: 1.5;
	margin-bottom: 1em;
}