<header>
	<nav>
		<ul class="main-nav">
			<li>Home</li>
			<li>Allocations</li>
			<li>Contact</li>
			<li>Sign In</li>
			<li>Properties</li>
			<li>People</li>
			<li>Documents</li>
			<li>Calendar</li>
			<li>Sign Out</li>
		</ul>
	</nav>
</header>