<nav class="admin-nav">
	<ul>
		<li>
			<%=link_to 'Properties', properties_path%>
		</li>
		<li>
			<%=link_to 'People', people_path%>
		</li>
		<li>
			<%=link_to 'Rent', rents_path%>
		</li>
		<li>Maintenance</li>
		<li>Calendar</li>
		<li>Documents</li>
		<li>Previous Roles</li>
		<li>Contractor List</li>
		<li>Participation</li>	
	</ul>
</nav>
