<section>
	<nav>
		<ul class="admin-nav">
			<li>Properties</li>
				<li>(Add Property)</li>
				<li>(Edit Property)</li>
			<li>People</li>
				<li>(Add Person)</li>
				<li>(Edit Person)</li>
			<li>Documents</li>
			<li>Calendar</li>
				<li>(Add Event)</li>
				<li>(Edit Event)</li>
			<li>Officer History</li>
			<li>Contractor List</li>
			<li>Run Rent Report</li>
				<li>(Add Rent Payment)</li>
				<li>(Edit Rent Payment)</li>
				<li>Run Maintenance Report</li>
				<li>Add Maintenance</li>
				<li>Edit Maintenance</li>
				<li>Participation Report</li>	
		</ul>
	</nav>
</section>