<section>
	<nav>
		<ul class="admin-nav">
			<li>Add Property</li>
			<li>Edit Property</li>
			<li>Add Person</li>
			<li>Edit Person</li>
			<li>Add Maintenance</li>
			<li>Edit Maintenance</li>
			<li>Add Event</li>
			<li>Edit Event</li>
			<li>Add Rent Payment</li>
			<li>Edit Rent Payment</li>
			<li>Run Rent Report</li>
			<li>Participation Report</li>
			<li>Previous Roles</li>
		</ul>
	</nav>
</section>